html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    width: auto;
}
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: rgb(183, 201, 209);
    font-size: 16px;
}

.product{
    color: white;
    width: auto;
    background: linear-gradient(to bottom, rgb(214, 221, 228), rgb(249, 250, 250),  rgb(249, 249, 250),  rgb(214, 221, 228));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    box-shadow: 0px 1px 1px 1px rgb(0, 0, 0);
    border-radius: 10px;
    background-image: url("images/product1_image.jpg");
    background-position: center;
    background-size: cover;
    height: auto;
}
.product-details{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: auto;
    height: auto;
    justify-content: left;
    padding: 30px;
    flex: 1;
    margin-left: 40px;
}
.product-details button{
    background-color: rgb(28, 139, 6);
    border: none;
    padding: 10px 25px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: all 0.3s ease;
}
.product-details button:hover{
    background-color: rgb(0, 110, 0);
    transition: all 0.3s ease;
}
.product-image{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
}
.product-image img{
    width: 220px;
    height: auto;
    transition: 0.3s ease all;
}
img:hover{
    transform: scale(1.1);
    transition: 0.3s ease all;
}
@media (max-width:800px){
    .product-image img{
        min-width: 70%;
    }
}
.description-container{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 40px;
}
.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}
.card{
    background-color: rgb(219, 224, 224);
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    box-shadow: 1px 1px 5px 5px rgb(149, 200, 216);
    transition: 0.3s all ease;
}
.card:hover{
    transform: scale(1.01);
    transition: 0.3s all ease;
}
.feature-container{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: auto;
    gap: 20px;
}
.feature-card{
    background-color: rgb(219, 224, 224);
    padding: 20px;
    width: 30%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 5px 5px rgb(150, 205, 221);
    transition: 0.3s all ease;
}
.feature-card:hover{
    transform: scale(1.01);
    transition: 0.3s ease all;
}
.feature-card img{
    width: 25%;
    height: auto;
    transition: 0.3s ease all;
}
.feature-card button{
    background-color: rgb(38, 0, 252);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
}
.feature-card button:hover{
    background-color: rgb(17, 0, 112);
}
p{
    text-align: justify;
    transition: none;
}
